
/**
 * Hooks spécifiques aux {{entityNamePlural}}
 * 
 * Ce fichier exporte tous les hooks liés à la fonctionnalité de gestion des {{entityNamePlural}}
 */

import { use{{EntityNamePlural}} } from './use{{EntityNamePlural}}';
import { use{{EntityName}}ById } from './use{{EntityName}}ById';

export { use{{EntityNamePlural}}, use{{EntityName}}ById };

