
/**
 * Hook pour accéder aux {{entityNamePlural}}
 */

import { useQuery } from '@tanstack/react-query';
import { get{{EntityNamePlural}} } from '..';

export function use{{EntityNamePlural}}() {
  return useQuery({
    queryKey: ['{{entityNamePlural}}'],
    queryFn: async () => {
      return await get{{EntityNamePlural}}();
    }
  });
}
